<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net452" />
  <package id="LibUsbDotNet" version="2.2.29" targetFramework="net452" />
  <package id="Nett" version="0.15.0" targetFramework="net452" />
  <package id="WindowsAPICodePack" version="1.1.2" targetFramework="net452" />
</packages>